
body {
    font-family: Arial, sans-serif;
	background: rgb(233,241,251);
	background: linear-gradient(90deg, rgba(233,241,251,1) 18%, rgba(220,235,255,1) 67%);
	font-size: 10px;
	color: #1e375a;
}

table {
    width: 90%;
    border-collapse: separate;
    border-spacing: 0 8px; /* Adjust the vertical spacing as needed */
	text-align: center;
	margin: auto;
    border: 0px solid #dddddd;
}

th, td {
	margin-top: 5px;
    padding: 5px;
    border: 0px solid #dddddd;
	text-align: center;
	border-radius: 10px;
	font-size: 12px;
	margin-top: 5px;
}

tr {
	background-color: none;
	border-radius: 10px;
}
tr:hover {
	background-color: #74d3f3;
}

/* Apply specific widths to table columns */
table th:nth-child(1),
table td:nth-child(1) {
    width: 4%;
}

table th:nth-child(2),
table td:nth-child(2) {
    width: 5%;
}

table th:nth-child(3),
table td:nth-child(3) {
    width: 30%;
	font-weight: 700;
}

/* Apply a common width to the remaining columns */
table th:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)),
table td:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
    width: 6%;
	font-weight: 600;
}

h2 {
	text-align: center;
	margin: auto;
	font-size: 20px;
	font-weight: 700;
	padding: 10px;
	border-radius: 10px;
	background-color: #00abe4;
	width: 30%;
	color: white;
}
